* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: aqua;
  color: black;
  height: 62px;
  width: 100%;
}

.grass {
  height: 62px;
  width: 80px;
  margin-left: 40px;
}

.integrated {
  margin-left: 125px;
  margin-top: -60px;
  font-size: 22px; 
  color: #2A4A37;
}


.center-links {
  
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; /* spacing between links */
}

.center-links a {
  color: white;
  text-decoration: none;
}