.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: aqua;
  color: black;
  height: 62px;
  width: 100%;
}

.center-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.center-links a {
  text-decoration: none;
  color: #2A4A37;
  font-size: 18px;
  padding: 5px 10px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2A4A37;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}