* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: aqua;
  color: black;
  height: 62px;
  width: 100%;
}

.grass {
  height: 62px;
  width: 80px;
  margin-left: 40px;
}

.integrated {
  margin-left: 125px;
  margin-top: -60px;
  font-size: 22px; 
  color: #2A4A37;
}

 a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  gap: 20px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
      position: relative;
      display: inline-block;
  }

.dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px;
      padding: 12px 16px;
      border-radius: 2px;
  }

.dropdown:hover .dropdown-content {
      display: block;
  }

.desc {
    text-align: center;
    padding: 15px;
}