* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 100px; 
}

.navbar {
  background-color: white;
  color: black;
  height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.left-section {
  display: flex;
  align-items: center;
}

.grass {
  height: 60px;
  width: 80px;
  object-fit: contain;
  display: block;
  margin-right: 10px;
  cursor: pointer;
}

.integrated {
  font-size: 16px;
  color: #2A4A37;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 8px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  top: 100%;
  left: 0;
  min-width: 140px;
  z-index: 999;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  color: #2A4A37;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid grey;
}

.search-icon {
  font-size: 14px;
  margin-right: 5px;
}

.search-container input {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  width: 100px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 20px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .right-section {
    margin-top: 10px;
  }
}

.image-wrapper {
  position: relative;
  margin-top: 62px; 
}

.sacks {
  height: 525px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.just {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(42, 74, 55, 0.85);
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  padding: 40px 20px;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  height: 346px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

.just:hover {
  box-shadow: 0 8px 20px rgba(42, 74, 55, 0.7);
  border-radius: 0;
}

.just p {
  margin-top: 100px;
}


.main-section {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  background-color: #E9ECEA;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.main-heading::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  margin-top: 10px;
}

.intro-text {
  font-size: 14px;
  margin: 20px auto 40px;
  max-width: 700px;
  line-height: 1.6;
  color: #2B4B38;
  font-family:'Times New Roman', Times, serif;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 10px;
}


.product-card {
  background-color: #E9ECEA; 
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
}


.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color:  #2A4A37;
}

.product-description {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.4;
  color: #2A4A37;
}

.learn-more {
  background-color: transparent;
  border: 2px solid #2A4A37;
  color: #2A4A37;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more:hover {
  background-color: black;
  color: white;
}

.arrow {
  font-size: 16px;
}

.see-all {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

.see-all:hover {
  color: #2A4A37;
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}



.section-heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #2d3e50;
  font-weight: bold;
}


.underline {
  width: 100px;
  height: 4px;
  background-color: #2A4A37;
  margin: 10px auto 30px;
  border-radius: 2px;
}


.choose-us-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0 40px;
  flex-wrap: wrap;
}


.choose-us-image img {
  max-width: 100%;
  height: auto;
  max-height: 440px;
  object-fit: cover;
  border-radius: 10px;
}


.choose-us-content {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.choose-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  border-bottom: 2px solid #2A4A37;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.choose-item i {
  font-size: 1.3rem;
  color: #2A4A37;
  margin-top: 4px;
}

.black-heading {
  color: black;
}

.black-underline {
  width: 120px;
  height: 3px;
  background-color: #2A4A37;
  margin: 0 auto 30px;
}

.gallery-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.gallery-img {
  width: 250px;
  height: 270px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}


.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.see-all-images {
  text-align: center;
  color: #2A4A37;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.blog-tailor-section {
  text-align: center;
  margin: 80px 0;
}

.blog-tailor-heading {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-tailor-text {
  font-size: 18px;
  color: #444;
  margin-bottom: 30px;
}

.suggestion-btn {
  background-color: #1E3526;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}

.suggestion-btn i {
  margin-right: 8px;
}

.suggestion-btn:hover {
  background-color: #2A4A37;
}

.blog-images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.blog-img {
  width: 280px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-img:hover {
  transform: scale(1.05);
}

.testimonial-section {
  text-align: center;
  padding: 80px 20px;
  background-color: #f8fbf9;
}

.testimonial-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0c1e15;
  margin-bottom: 10px;
}

.testimonial-line {
  width: 170px;
  height: 2px;
  background-color: #0c1e15;
  border: none;
  margin: 0 auto 30px;
}

.testimonial-quote p {
  max-width: 900px;
  margin: 0 auto 30px;
  font-size: 1.1rem;
  color: #1e3526;
  line-height: 1.7;
}

.testimonial-company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.testimonial-logo {
  height: 50px;
  object-fit: contain;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1e3526;
}

.newsletter-footer-wrapper {
  background-color: #F8FBF9;
  margin-top: 20px; /* space from previous section */
}


.newsletter-section {
  background-color: #264a37;
  padding: 5rem 1rem;
  border-radius: 20px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.newsletter-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.newsletter-input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  width: 250px;
  background: transparent;
  color: white;
}

.newsletter-input::placeholder {
  color: #e5e5e5;
}

.newsletter-button {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: white;
  color: #264a37;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.circle-top-left,
.circle-bottom-right {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 50%;
}

.circle-top-left {
  top: -50px;
  left: -50px;
  position: absolute;
  width: 150px;
  height: 150px;
  border: 5px solid #aacfbf;
  border-radius: 50%;
}

.circle-bottom-right {
  bottom: -50px;
  right: -50px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  flex-wrap: wrap;
  background-color: #fff; 
  margin-top: 60px;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.icon-circle {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.facebook-bg {
  background-color: #2A4A37; 
  color: white;
}

.twitter-bg, .github-bg {
  background-color: white;
  color: #2A4A37;
  border: 1px solid #2A4A37; 
}

.instagram-bg {
  background-color: white;
  color: #2A4A37; 
  border: 1px solid #2A4A37; 
}

.footer-texts {
  display: flex;
  gap: 30px;
  color: #2A4A37;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}

.footer-line {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 15px 0 10px 0;
  flex-basis: 100%;
}

.footer-copy {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: -100px;
}
